{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col row justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="{{ asset('images/card_insert_reponsive2.png') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Gestion de projet</h5>
                        <p class="card-text">De la conception d'une maquette à la recette.</p>
                    </div>
                </div>
            </div>
            <div class="col row justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="{{ asset('images/card_insert_reponsive3.png') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Responsive</h5>
                        <p class="card-text">Développement Web ET Web mobile.</p>
                    </div>
                </div>
            </div>
            <div class="col row justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="{{ asset('images/card_insert_reponsive4.png') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Sécurité et BDD</h5>
                        <p class="card-text">BDD et MDP sécurisés avec SymfonySecurityBundle.</p>
                    </div>
                </div>
            </div>
            <div class="col row justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="{{ asset('images/card_insert_reponsive5.png') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Front-end ET Back-end</h5>
                        <p class="card-text">Utilisation de Symfony, Sass et Vanilla JS.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
             {% for media in medias %}
                 {% include 'article/_article.html.twig' %}
             {% endfor %}
    </div>
<div class="container">

    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Accordion Item #1
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Accordion Item #2
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Accordion Item #3
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse show" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
            </div>
        </div>
    </div>
</div>





{% endblock %}
