{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col row justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="{{ asset('images/card_insert_reponsive2.png') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Gestion de projet</h5>
                        <p class="card-text">De la conception d'une maquette à la recette.</p>
                    </div>
                </div>
            </div>
            <div class="col row justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="{{ asset('images/card_insert_reponsive3.png') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Responsive</h5>
                        <p class="card-text">Développement Web ET Web mobile.</p>
                    </div>
                </div>
            </div>
            <div class="col row justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="{{ asset('images/card_insert_reponsive4.png') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Sécurité et BDD</h5>
                        <p class="card-text">BDD et MDP sécurisés avec SymfonySecurityBundle.</p>
                    </div>
                </div>
            </div>
            <div class="col row justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="{{ asset('images/card_insert_reponsive5.png') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Front-end ET Back-end</h5>
                        <p class="card-text">Utilisation de Symfony, Sass et Vanilla JS.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
             {% for media in medias %}
                 {% include 'article/_article.html.twig' %}
             {% endfor %}
    </div>
<div class="container">

    <div
            class="accordion accordion-flush"
            id="accordionExample">

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button
                        class="accordion-button"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseOne"
                        aria-expanded="true"
                        aria-controls="collapseOne"
                >
                    Accordion item 1
                </button>
            </h2>
            <div
                    id="collapseOne"
                    class="accordion-collapse collapse show"
                    aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample"
            >
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Accusamus asperiores, at atque autem distinctio dolor ducimus est,
                    hic in maxime molestiae mollitia, numquam omnis placeat quia
                    recusandae repellendus totam vero!
                </p>


            </div>
        </div>
    </div>
</div>





{% endblock %}
