body {
  background-color: #FEF9EF;
}
.accordion{
  --bs-accordion-active-bg: #FE6D73;
  --bs-accordion-bg: white;
}

.container{
  .card{
    margin-bottom: 2rem;
  }
}

.carousel-item{
  img{
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
}