footer{

  margin-top: 2rem;

  .footer-background{
    background-color: #FE6D73;
    border-radius: 10px;
    a{
      text-decoration: none;
      color: #FFCB77 ;
    }
  }

  .newsletter-background{
    background-color: #FFCB77;
  }
}

