<footer class="bg-primary">
    <div class="container">
        <div class="footer">
            <div class="footer-contact">

                <p>
                    Lorem Ipsum is simply dummy text of the and typesetting industry. Lorem Ipsum is dummy text of
                    the printing.
                </p>

                <div>
                    <i class="fa fa-map-marker"></i>
                    <a href="https://www.google.com/maps" target="_blank">
                        Laval, Mayenne, France
                    </a>
                </div>
                <div>
                    <i class="fa fa-phone-square"></i>
                    <a href="tel:0123456789">
                        0123456789
                    </a>
                </div>
                <div>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:julien.clairo@iia-formation.fr">
                        julien.clairo@iia-formation.fr
                    </a>
                </div>
                <div class="social-footer">
                    <a href="https://www.reddit.com" target="_blank">
                        <i class="fa fa-reddit-alien"></i>
                    </a>
                    <a href="https://codepen.io" target="_blank">
                        <i class="fa fa-codepen"></i>
                    </a>
                    <a href="https://github.com" target="_blank">
                        <i class="fa fa-github"></i>
                    </a>
                    <a href="https://www.freecodecamp.com" target="_blank">
                        <i class="fa fa-free-code-camp"></i>
                    </a>
                </div>
            </div>


            <div class="footer-newsletter-box">

                <h3>NEWSLETTER</h3>
                <p>Subscribe to our weekly Newsletter and receive updates via email</p>
                <div class="pos-btn">
                    <input type="email" placeholder="monmail@monmail.com">

                    <button type="submit">
                        <i class="fa fa-location-arrow"></i>
                    </button>

                </div>
            </div>
        </div>
    </div>
</footer>