

<footer>
    <div class="footer-background">

            <p>
                    Lorem Ipsum is simply dummy text of the and typesetting industry. Lorem Ipsum is dummy text of
                    the printing.
            </p>

            <div>
                <i class="fa fa-map-marker"></i>
                <a href="https://www.google.com/maps" target="_blank">
                        Laval, Mayenne, France
                </a>
            </div>
            <div>
                <i class="fa fa-phone-square"></i>
                <a href="tel:0123456789">
                        0123456789
                </a>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <a href="mailto:julien.clairo@iia-formation.fr">
                        julien.clairo@iia-formation.fr
                </a>
            </div>
        </div>

</footer>