

<footer>

    <div class="footer-background">



        <div>
            <i class="fa fa-github"></i>
            <a href="https://github.com/JClairoDev" target="_blank">
                Mon profil GitHub !
            </a>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <a href="mailto:julien.clairo@gmail.com">
                julien.clairo@gmail.com
            </a>
        </div>
        <div>
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            <a href="https://www.linkedin.com/in/clairo-julien-b9990a50/" target="_blank">
                Mon profil Linkedin
            </a>
        </div>

    </div>


</footer>